*{
    font-family:  Bahnschrift;
}
/* -----------------------------NAVBAR---------------------------------- */
.Navbar-Main{
     display: flex;
     height: 70px;
   background-color: rgb(134, 216, 208);
   justify-content: space-between;
   padding-left: 20px;
   padding-right: 50px;
   align-items: center;
}

.Navbar-Main h1{
    font-size: 30px;
    font-weight: bolder;
}

.Navbar-One{
    display: flex;
    gap:50px;
}

.Navbar-Two{
    display: flex;
   gap:50px;
}

/* -------------------------------REGISTER------------------------------------- */


.Register-One{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: rgb(134, 216, 208);
    margin-bottom: 4%;
}


.Register-One h1{
    font-size: 30px;
    font-weight: bolder;
}

.Register-Two{
   padding-left: 20px;
   padding-right: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    width: 50%;
    
}

.Register-Box{
     display: flex;
     justify-content: space-around;
}

.Register-Name{
     display: flex;
     gap:10px
}

.Register-Two h1{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
}


/* .Register-Two InputGroup{
     margin-bottom: 20px;
} */

.Error-Name{
    display: flex;
}

.Error-Name div:nth-child(2){
    position: absolute;
    left: 775px;
}

.Register-Input1{
   height: 60px;
}

.Register-Input1 + Button{
    background-color: rgb(134, 216, 208);
    width: 100%;
    margin-bottom: 20px;
}

.Register-Bottom{
      color:rgb(134, 216, 208);
      cursor: pointer;
      text-decoration: underline;
      margin-bottom: 20px;
}
 