* {
  font-family: Bahnschrift;
}
/* -----------------------------NAVBAR---------------------------------- */
.Navbar-Main {
  display: flex;
  height: 70px;
  background-color: rgb(134, 216, 208);
  /* background-color: rgb(255, 0, 0); */
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 50px;
  align-items: center;

}

.Navbar-Main h1 {
  font-size: 30px;
  font-weight: bolder;
  margin-left: 30px;
}

.Navbar-One {
  display: flex;
  gap: 50px;
}



.Navbar-Two {
  display: flex;
  gap: 50px;
}

/* -------------------------------REGISTER------------------------------ */

.Register-One {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: rgb(134, 216, 208);
  margin-bottom: 4%;
}

.Register-One h1 {
  font-size: 30px;
  font-weight: bolder;
}

.Register-Two {
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 50%;
  
}

.Register-Box {
  display: flex;
  justify-content: space-around;
  
}

.Register-Name {
  display: flex;
  gap: 10px;
}

.Register-Two h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* .Register-Two InputGroup{
     margin-bottom: 20px;
} */

.Error-Name {
  display: flex;
}

.Error-Name div:nth-child(2) {
  position: absolute;
  left: 775px;
}

.Register-Input1 {
  height: 60px;
}

.Register-Input1 + Button {
  background-color: rgb(134, 216, 208);
  width: 100%;
  margin-bottom: 20px;
}

.Register-Bottom {
  color: rgb(134, 216, 208);
  cursor: pointer;
  text-decoration: underline;
  margin-bottom: 20px;
}

.spinner-one {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

/* Media-Register */

@media (max-width: 480px) {

  .Register-Two {
    margin-top: 20px;
    width: 80%;
  }

}

/* --------------------------------HOME PAGE-------------------------------- */

.Home-Main1 {
  height: 100%;
  background-color: rgb(246, 247, 248);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.Home-Main2 {
  display: grid;
  grid-template-columns: 24% 46% 24%;
  gap: 3%;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  position: relative;
}

.Home-Profile {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
   padding-left: 30px;
   padding-right: 30px;
   background-color: white;
   height: 370px;
   position: sticky; 
   top: 10px;
}

.line{
    border: 0.2px solid rgb(210, 210, 210);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Profile-one{
     display: flex;
     align-items: center;
    justify-content: space-between;
     margin-top: 20px;
}


.Profile-two{
    display: flex;
    align-items: center;
    gap:10px;
   justify-content: space-between;
}

.Profile-two h1{

    font-size: 20px;
}

.Profile-four{
     display: flex;
     gap:20px;
       color: rgb(100, 100, 100);
}
.Profile-five{
    display: flex;
    gap:20px;
    color: rgb(100, 100, 100);
}



.Profile-seven{
     display: flex;
     justify-content: space-between;
}
.Profile-seven h1:first-child {
    color: rgb(100, 100, 100);
}

.Profile-eight h1:first-child {
    color: rgb(100, 100, 100);
}

.Profile-eight{
    display: flex;
    justify-content: space-between;
}

.Profile-ten{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.Profile-nine{
    padding-bottom: 30px;
}

.twitter{
    margin-top: 7px;
     width: 20px;
     height: 20px;
}

.Profile-eleven h1:nth-child(2) {
    color: rgb(100, 100, 100);
    font-size: smaller;
}

.Profile-eleven{
     display: flex;
     gap:10px;
}

.name-social{
    font-size: larger;
}




.Home-Ad {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    height: 560px;
    position: sticky; 
    top: 10px;
  }

.Ad-one{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
}

.Ad-two{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}


.Ad-two h1:nth-child(2) {
    color: rgb(112, 111, 111);
   font-family:cursive;
    text-decoration: underline;
}

.autoplay-slider img{
     margin-top: 10px;
     border-radius: 10px;
}

.Ad-one h1:nth-child(2) {
    color: rgb(205, 205, 205);
}

.Home-Ad h6{
    margin-top: 3px;
  font-size: 12px;
  line-height: 15px;
  font-weight:lighter;
  color: rgb(123, 121, 121);

}

.img-one{
    margin-top: 10px;
     height: 200px;
     border-radius: 10px;
}



/* .Home-Content {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  } */


  /* Media-Home  */


  @media (max-width: 480px) {

    .Home-Main2 {
      display: flex;
      flex-direction: column;
      /* grid-template-columns: 24% 46% 24%; */
      gap: 3%;
      margin-left: 50px;
      margin-right: 50px;
      margin-top: 20px;
      position: relative;
      /* background-color: blue; */
    }
  
  }
  



  /* --------------------------POST--------------------------- */

  .Post-Main{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    height: 200px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    
  }


  .Post-one{
      display: flex;
      align-items: center;
      gap:20px;
      padding-top: 20px;
     
  }

  .Post-one h1{
      background-color: rgb(134, 216, 208);
      height: 43px;
      width: 100%;
      border-radius: 20px;
      padding-left: 20px;
      padding-top: 10px;


  }


  .Post-two{
        border: 1px solid rgb(190, 190, 190);
        background-color:  rgb(243, 243, 243);;
        margin-top: 8px;
        height: 100px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;

  }

  .Post-two h1{
     
    padding-top: 10px;
    padding-bottom: 4px;
    font-size: smaller;
    margin-left: 3px;
  }


  .Post-two Button{
     border: 2px dotted  rgb(61, 143, 244);
     border-radius: 10px;
     height: 50px;
     width: 100%;
    
  }

  .Post-two Button:hover{
   
      background-color:  rgb(134, 216, 208);

  }





  /* ------------------------------------------------Content------------------------------------------------- */

  .Box-Content{
      border:1px solid rgb(204, 204, 204) ;
      border-radius: 10px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: 5px;
    
  }

  .Text-Content{
    margin-top: -10px;
    margin-bottom: -10px;
   
  }

  .Text-Content1{
    margin-top: -10px;
    margin-bottom: -10px;
    font-weight: 400;
    font-weight: lighter;

  }

 

  /* ------------------------PROFILE-------------------------------- */

  .Home-Profile1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   border-radius: 10px;
     padding-left: 30px;
     padding-right: 30px;
     background-color: white;
     height: 370px;
     top: 10px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 10px;
     padding-top: 2px;
     margin-top: 20px;
    
  }

  .Profile-Two{
    margin-left: 50px;
    margin-right: 50px;
  }

  .Profile-Three{
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
  }

  .Buttons-UserPosts{
      display: flex;
      justify-content: space-evenly;
      margin-left: 10px;
    margin-right: 10px;
    gap:5px;
    
  }

  .Buttons-UserPosts Button{
   width: 100%;
}

  .Buttons-UserPosts Button{
      background-color: rgb(246, 247, 248);
  }

  .Buttons-UserPosts Button:first-child:hover{
    background-color:  rgb(134, 216, 208);
    
  }

  .Buttons-UserPosts Button:nth-child(2):hover{
    background-color:  rgb(155, 155, 155);
  }
  

  .Buttons-UserPosts Button:nth-child(3):hover{
    background-color:  rgb(134, 216, 208);
 }

  .Buttons-UserPosts Button:nth-child(4):hover{
     cursor: not-allowed;
  }

  .No-Post{
     margin-bottom: 40px;
     font-size: 30px;
  }

  .Post-Name{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40px;
     background-color:  rgb(134, 216, 208);
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 20px;
     font-size: larger;
     border-radius: 10px;
  }


  .Collapse-Comment{
    margin-left: 30px;
    margin-right: 30px;
    background-color:  rgb(134, 216, 208);
    margin-bottom: 10px;
    font-size: 13px;
    border-radius: 10px;
   
    
  }

  /* media - Profile */
  @media (max-width: 480px) {

    .Profile-Three{
      /* margin-left: 50px; */
      /* margin-right: 50px; */
      display: grid;
      grid-template-columns: repeat(1,1fr);
      column-gap: 20px;
    }
  
  }
  


  /* --------------------------Comment ------------------------------- */

  .comment-one{
     display: flex;
     gap:5px;
  }

  .comment-one Button{
    background-color:  rgb(134, 216, 208);
    border: 1px solid rgb(246, 247, 248);
    color: azure;
}


  .comment-one Button:hover{
      color: black;
  }

  .comment-two{
    margin-top: 10px;
     display: flex;
     align-items: center;
     gap:10px;
  }



 .comment-button:hover{
   color:  rgb(11, 127, 108);

  
}


  



 
 